body {
    margin: 0;
    width: 700px;
    height: 40px
}

ul{
    padding: 0;
    overflow-y: scroll;
    margin: 0;
    text-align: center;
}

li {
    background-color: #17aaaa;
    width: 100%;
    padding-bottom: 10px;
}

button {
    min-width: 30px;
    min-height: 30px;
    outline: none;
    margin: 4px;
    background-color: #17aaaa;
    color: #f4f4f4;
    border: solid 1px #17aaaa;
    border-radius: 0;
}

button:hover {
    cursor: pointer;
    filter: brightness(0.8);
}

.btn-add {
    font-size: x-large;
    width: 100%;
    height: 50px;
    margin: 0;
}

.btn-save {
    width: 30%;
    padding: 0;
}

.btn-delete {
    margin-top: 15px;
    margin-left: 7px;
    border: solid 1px #ffffff;
    font-size: x-large;
}

.btn-clear {
    background-color: #f33535;
    width: 30%;
    padding: 0;
    border: solid 1px #f33535;
}


label {
    border: none;
    outline: none;
    position: relative;
    margin: 0 0 20px 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    margin: 4px;
    border: none;
    outline: none;
    padding: 10px 5px 8px 5px;
    border-bottom: solid 2px #17aaaa;
    width: 145px;
    text-align: center;
    color: #414141;
}

.input-name {
}

.input-value {
}

.input-filter {
    width: 300px;
}

ul {
    list-style-type: none;
}

.btn-not-visible {
    display: inherit;
}

.btn-not-visible {
    display: none;
}

